/* Navigation */
#navbar {
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* search section */
#search{
    margin: 0px;
    margin-left: -111px;
}
/* login section */
#login{
    padding: 0px;
    height: 0px;
    margin: -20px -177px 30px 9px;
}
/* Home section */
#home{
    height: 290px; 
    padding: 3px 28px;
}
#home h1{
    font-size: 1.7rem;
    font-style: initial;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    height: 100%;
    margin: 11px;
    flex-direction: column;
}

#services .box { 
    padding: 0%;
    margin: 2px 0px; 
    margin-bottom: 20px;
    height: 20rem;
}
#services .box img{
    height: 5rem;
}
#services h2{
    font-size:  1.8rem; 
}
/* Clients section */
#clients{
    flex-wrap: wrap;


}
#client img{
    width: 66px;
    height: 50px;
    
}
.client-item{
    padding: 1px;

}


/* Contact us section */
#contact-box form{
    width: auto;
}
/* Footer */

/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#footer{
    flex-direction: column;
    height: 100rem;
}
.footer-nav{
    height: 100px;
    width: 76px;
    padding: 46px 0px 0px 0px;
    margin-left: 20px;
    list-style: none;
}
.item{
    text-align: center;
    padding: 0px 0px;
    letter-spacing: 0px;
}
.social-site{
    text-align: center;
    margin: 0px 101px 0px -18px;
    flex-direction: row;
    padding: 5px;
}
.fa {
    padding: 10px;
    font-size: 15px;
    width: 2px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
    border-radius: 80%;
}
#copyright{
    width: 120%;
    font-size: 00.5rem;
    padding: 0px;
}
.creator{
    padding: 80px 0px 0px 0px;
    text-align: center;
    margin-left: -125px;
    font-size: 0.5rem;
}